In [1]:
import pandas as pd
from sklearn.preprocessing import RobustScaler

In [2]:
df = pd.DataFrame([
    [2, 1, 3],
    [3, 2, 5],
    [3, 4, 7],
    [5, 5, 10],
    [7, 5, 12],
    [2, 5, 7],
    [8, 9, 13],
    [9, 10, 13],
    [6, 12, 12],
    [9, 2, 13],
    [6, 10, 12],
    [2, 4, 6]
], columns=['hour', 'attendance', 'score'])

In [3]:
df

    hour  attendance  score
0      2           1      3
1      3           2      5
2      3           4      7
3      5           5     10
4      7           5     12
5      2           5      7
6      8           9     13
7      9          10     13
8      6          12     12
9      9           2     13
10     6          10     12
11     2           4      6

In [4]:
transformer = RobustScaler()
transformer.fit(df)

RobustScaler()

In [5]:
df = transformer.transform(df)

In [6]:
df

array([[-0.77777778, -0.69565217, -1.45454545],
       [-0.55555556, -0.52173913, -1.09090909],
       [-0.55555556, -0.17391304, -0.72727273],
       [-0.11111111,  0.        , -0.18181818],
       [ 0.33333333,  0.        ,  0.18181818],
       [-0.77777778,  0.        , -0.72727273],
       [ 0.55555556,  0.69565217,  0.36363636],
       [ 0.77777778,  0.86956522,  0.36363636],
       [ 0.11111111,  1.2173913 ,  0.18181818],
       [ 0.77777778, -0.52173913,  0.36363636],
       [ 0.11111111,  0.86956522,  0.18181818],
       [-0.77777778, -0.17391304, -0.90909091]])

In [7]:
df2 = pd.DataFrame([
    [2, 0, 0],
    [3, 0, 0],
    [3, 0, 0],
    [5, 0, 0],
    [7, 0, 0],
    [2, 0, 0],
    [8, 0, 0],
    [9, 0, 0],
    [6, 0, 0],
    [9, 0, 0],
    [6, 0, 0],
    [2, 0, 0]
], columns=['hour', 'attendance', 'score'])

In [8]:
df2

    hour  attendance  score
0      2           0      0
1      3           0      0
2      3           0      0
3      5           0      0
4      7           0      0
5      2           0      0
6      8           0      0
7      9           0      0
8      6           0      0
9      9           0      0
10     6           0      0
11     2           0      0

In [9]:
transformer = RobustScaler()
transformer.fit(df2)

RobustScaler()

In [10]:
df2 = transformer.transform(df2)

In [11]:
df2

array([[-0.77777778,  0.        ,  0.        ],
       [-0.55555556,  0.        ,  0.        ],
       [-0.55555556,  0.        ,  0.        ],
       [-0.11111111,  0.        ,  0.        ],
       [ 0.33333333,  0.        ,  0.        ],
       [-0.77777778,  0.        ,  0.        ],
       [ 0.55555556,  0.        ,  0.        ],
       [ 0.77777778,  0.        ,  0.        ],
       [ 0.11111111,  0.        ,  0.        ],
       [ 0.77777778,  0.        ,  0.        ],
       [ 0.11111111,  0.        ,  0.        ],
       [-0.77777778,  0.        ,  0.        ]])

In [12]:
df

array([[-0.77777778, -0.69565217, -1.45454545],
       [-0.55555556, -0.52173913, -1.09090909],
       [-0.55555556, -0.17391304, -0.72727273],
       [-0.11111111,  0.        , -0.18181818],
       [ 0.33333333,  0.        ,  0.18181818],
       [-0.77777778,  0.        , -0.72727273],
       [ 0.55555556,  0.69565217,  0.36363636],
       [ 0.77777778,  0.86956522,  0.36363636],
       [ 0.11111111,  1.2173913 ,  0.18181818],
       [ 0.77777778, -0.52173913,  0.36363636],
       [ 0.11111111,  0.86956522,  0.18181818],
       [-0.77777778, -0.17391304, -0.90909091]])

In [13]:
# sklearn.preprocessing 모듈은 각 feature마다 정규화를 해준다. 모든 feature들을 통채로 연산하지 않아서 정확하다