In [2]:
import catboost
print(catboost.__version__)

1.0.0

In [3]:
from catboost import CatBoostClassifier
from catboost import datasets

In [4]:
train_df, test_df = datasets.amazon()
train_df.shape, test_df.shape

((32769, 10), (58921, 10))

In [7]:
train_df.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [9]:
test_df.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [10]:
y = train_df['ACTION']
X = train_df.drop(columns='ACTION')

In [11]:
X_test = test_df.drop(columns='id')

In [12]:
SEED = 1

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=SEED)

In [15]:
%%time

params = {
    'loss_function':'Logloss',
    'eval_metric':'AUC',
    'verbose':200,
    'random_seed':200
}
cbc_1 = CatBoostClassifier(**params)
cbc_1.fit(X_train, y_train, 
          eval_set=(X_valid, y_valid),
          use_best_model=True,
          plot=True);

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

Learning rate set to 0.069882
0:	test: 0.5628156	best: 0.5628156 (0)	total: 23.4ms	remaining: 23.4s
200:	test: 0.7972249	best: 0.7977720 (197)	total: 1.23s	remaining: 4.89s
400:	test: 0.8235258	best: 0.8235362 (399)	total: 2.46s	remaining: 3.67s
600:	test: 0.8337856	best: 0.8338359 (597)	total: 3.67s	remaining: 2.44s
800:	test: 0.8397401	best: 0.8398531 (798)	total: 4.83s	remaining: 1.2s
999:	test: 0.8424217	best: 0.8428752 (984)	total: 6.13s	remaining: 0us

bestTest = 0.8428752246
bestIteration = 984

Shrink model to first 985 iterations.
Wall time: 6.3 s

In [16]:
cat_features = list(range(X.shape[1]))
print(cat_features)

[0, 1, 2, 3, 4, 5, 6, 7, 8]